{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">O czym myślisz?</h1>
                <p class="lead">Podziel się swoimi marzeniami!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-question">Dodaj marzenie</button>
        </div>
    </div>
    <div class="row pb-10" data-spy="scroll">
        <div class="col-12 mb-5">
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container p-4">
                    <div class="row mx-auto">
                        <div class="col-2">
                            <img src="{{ asset('images/eagle_in_flight.jpg') }}" class="rounded" width="150" height="150"  alt="Janek avatar">
                            {# <div class="d-block mt-3 vote-arrows">
                                <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                            </div> #}
                        </div>
                        <div class="col">
                            <div class="row d-flex justify-content-between">
                                <a class="q-title mt-1 ml-3" href="{{ path('app_question_show', { slug: 'Chciałbym-latać' }) }}"><h2>Chciałbym latać</h2></a>
                                <button class="btn btn-dream-made mt-1 mb-3 mr-3">Zrealizowane<i class="fas fa-check-double pl-2"></i></button>
                            </div>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3"></i>
                                <p class="d-inline">Ciągle odlatuję (we śnie). Chciałbym spróbować w realu.</p>
                                <div class="row mx-auto pt-3">
                                    <img src="{{ asset('images/magic-photo.png') }}" class="circle-rounded" width="35" height="35"  alt="Janek image">
                                    <p class="pl-1 pt-2"><strong>Janek</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="answer-link" href="{{ path('app_question_show', { slug: 'Chciałbym-latać' }) }}" style="color: #fff;">
                    <p class="q-display-response text-center p-3" style="background-color:rgb(68, 2, 122);">
                        <i class="fa fa-magic magic-wand"></i> 3 odpowiedzi
                    </p>
                </a>
            </div>
        </div>

        <div class="col-12 mb-5">
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container p-4">
                    <div class="row mx-auto">
                        <div class="col-2">
                            <img src="{{ asset('images/kot_z_mysza.jpg') }}" class="rounded" width="150" height="150"  alt="Julka avatar">
                        </div>
                        <div class="col">
                            <div class="row d-flex justify-content-between">
                                <a class="q-title mt-1 ml-3" href="{{ path('app_question_show', { slug: 'Być-czy-nie-być-...-KOTEM' }) }}"><h2>Być czy nie być ... kotem</h2></a>
                                <button class="btn btn-dream-made mt-1 mb-3 mr-3">Zrealizowane<i class="fas fa-check-double pl-2"></i></button>
                            </div>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3"></i>
                                <p class="d-inline">Jestem na dobrej drodze, żeby stać się kotem, ale nie wiem jeszcze jak później wrócić do postaci ludzkiej ... a może nie wracać ... </p>
                                <div class="row mx-auto pt-3">
                                    <img src="{{ asset('images/tisha.png') }}" class="circle-rounded" width="35" height="35"  alt="Julka image">
                                    <p class="pl-1 pt-2"><strong>Julka</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="answer-link" href="{{ path('app_question_show', { slug: 'Być-czy-nie-być-...-KOTEM' }) }}" style="color: #fff;">
                    <p class="q-display-response text-center p-3" style="background-color:rgb(68, 2, 122);">
                        <i class="fa fa-magic magic-wand"></i> 4 odpowiedzi
                    </p>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}

